@import 'tailwindcss';

.font-display {
  font-family: 'Playfair Display', serif;
}


:root {
  --color-base: #E6DDD1;
  --color-lightbeige: #ffedd6;
  --color-brown: #4B2F1D;
  --color-noisette: #B08942;
  --color-darkbrown: #2A1E17;
  --color-darkerbrown: #171210;
  --color-darkbeige: #CFC7BB;
  --color-mutedbrown: #6F5644;
  --noise-opacity: 0.035;

  /* Optional dark variant */
  /* --color-bg: #171210; */
  /* --color-section-bg: #2A1E17; */
  /* --color-text: #F4EFE8; */
  /* --color-primary: #4B2F1D; */
  /* --color-muted: #8C8277; */
}

.color-base {
  color: var(--color-base);
}
.base {
  background-color: var(--color-base);
}
.lightbeige {
  background-color: var(--color-lightbeige);
}
.brown {
  background-color: var(--color-brown);
}
.noisette {
  background-color: var(--color-noisette);
}
.darkbrown {
  background-color: var(--color-darkbrown);
}
.darkbeige {
  background-color: var(--color-darkbeige);
}

body {
  position: relative;
  color: var(--color-darkbrown);
  background-color: var(--color-lightbeige);
  font-size: 18px;
  font-weight: 350;
}


